---
AWSTemplateFormatVersion: '2010-09-09'
Description: Creates Sample Jinja


Parameters:
  Ami:
    Type: AWS::EC2::Image::Id
    Description: AMI id
    Default: "ami-037429bc6acf83e46"

  InstanceType:
    Type: String
    AllowedValues: [ t2.small,t2.medium,t2.large,t3.small,t3.medium,t3.large,t3.xlarge,c4.large,c4.xlarge,c4.2xlarge,c4.4xlarge,c5.xlarge,m4.large,m5.large,m4.xlarge,m4.2xlarge,m4.4xlarge,m5.xlarge,m5a.large,m5a.xlarge,r4.large,r4.xlarge,r3.xlarge,r5a.xlarge ]
    Default: c4.large
